.main-container{
  width: 100%;
  height: 600px;
  min-height: 600px;
  overflow: hidden;
  .web-view {
    width: 100%;
    height:  100%;
  }
  webview {
    display:inline-flex;
    width: 100%;
    min-height: 600px;
    height: 100%;
  }
}